<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .Site.Params.description }}{{ .Site.Params.description }}{{ end }}{{ end }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}index.xml" title="{{ .Site.Title }}">

  <meta name="google-site-verification" content="e6W9zZZ6nt4RCdXArOm6dQ3Dl_itzNvJhrVCYAEPJJ8" />
</head>